// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#banner {
  background-image:url('https://unsplash.com/photos/JjGLEN7T8xI');
  display: block; margin-top: 0px; margin-bottom: 0px;  width: 996px; padding: 0px;
}

  h1 {
    font-size: 50px;
  }


